div.about {
  font-family: "Montserrat", sans-serif;
  width: 50%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
}
.about h1 {
  font-size: 200%;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}
div.about h3 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
}
div.about h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 0.8);
}
div.welcome {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  padding-left: 20px;
}
div.welcome p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
span.school {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}

div.journey,
div.vision,
div.approach,
div.why-choose,
div.thank,
div.join {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  padding-left: 20px;
}
div.journey h2,
div.vision h2,
div.approach h2,
div.thank h2,
div.join h2 {
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
}
p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
  margin-top: 10px;
}

div.why-choose h2 {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.9);
  font-size: 22px;
}
div.why-choose p {
  margin-top: 0;
}
div.why-choose div.choose {
  padding: 10px 0;
}
div.why-choose div.choose h5 {
  margin: 10px 0;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 740px) {
  div.about {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
