div.choose-to-learn{
  /* background-image: url('../images/quran.jpg');
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  object-fit: fill; */
  width: 100%;
  min-height: 100vh;
  background-color: #eee;
}

div.choose-to-learn div.contents{
  width: 100%;
  min-height: 100vh;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.contents h1{
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
  font-size: 38px;
  color: #333333e5;
  text-transform: uppercase;
}
div.contents h1.Allah{
  font-size: 54px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color:#793FDF;
  text-shadow: 0px 20px 10px #793FDF;
}
div.contents div.courses{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 20px 0;
}

div.courses span{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  margin-left: 20px;
  left: 20px;
  color: #333333ca;
}
div.courses span::before{
  position: absolute;
  content: "\2713";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 15px;
  height: 15px;
  background-color: #793FDF;
  border-radius: 15px;
  top: 50%;
  left: -30px;
  transform: translate(-50%, -50%);
  color: #fff;
  margin-left: 10px;
}

@media (max-width:740px){
  div.choose-to-learn div.contents{
    padding: 5%;
    align-items: flex-start;
  }
  div.contents div.courses{
    display: flex;
    flex-direction: column;
  }
  div.contents h1{
    margin-bottom: 10px;
    font-size: 28px;
  }
  div.contents h1.Allah{
    width: 100%;
    font-size: 44px;
    text-align: center;
  }
  div.courses span{
    font-weight: 300;
    font-size: 18px;
  }
  div.courses span::before{
    padding: 5px;
    width: 10px;
    height: 10px;
    background-color: #eee;
    color: #793FDF;
  }
}