.landing-page{
  background-image: url('../images/main-back.svg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 5%;
}

.landing-page .text-content{
  padding: 5% 10 0 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width:740px){
  .landing-page .text-content{
    padding: 2% 20% 0 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.text-content h1{
  font-family: "Poppins", sans-serif;
}
.text-content p{
  font-family: "Poppinis", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0,0,0,.7);
}
.text-content a{
  display: block;
  width: 140px;
  margin: auto;
  background-color: #793FDF;
  color: #fff;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 1px 1px rgba(0,0,0,.3);
  margin-top: 20px;
  font-size: 14px;
  font-weight: 700;
}
.landing-page .images{
  position: relative;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 100px;
}
.images img{
  border-radius: 150px;
  width: 230px;
  height: 350px;
  position: relative;
  border: 5px solid #F11A7B;
  box-shadow: 0px 0px 20px rgba(0,0,0,.3);
}
.img-1, .img-4{
  top: 0;
}
.img-2, .img-3{
  top: 100px;
}
