div.send-message {
  margin: 20px 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

div.send-message div.form {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.send-message div.form form {
  width: 80%;
  margin-top: 20px;
  
}
div.send-message div.form h1 {
  color: #ea1179;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
}
div.send-message div.form p {
  width: 80%;
  line-height: 1.6;
  text-align: center;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", sans-serif;
}
div.send-message div.form form div.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
form div.form-group label {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: gray;
  margin-bottom: 5px;
}
form div.form-group input,
form div.form-group textarea {
  width: 100%;
  display: block;
  outline: none;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #33333381;
  background-color: #ea117a1c;
  border: none;
  /* box-shadow: 0px 0px 1px 1px rgba(0,0,0,.1); */
  border-radius: 3px;
  transition: box-shadow 200ms ease-in, background-color 200ms ease-in;
}
form div.form-group .error {
  color: #ea1179;
  font-size: 12px;
  margin-top: 5px;
}
form div.form-group input::placeholder {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
form div.form-group input:focus,
form div.form-group textarea:focus {
  box-shadow: 0px 0px 1px 2px #5b9a8b, 0px 0px 1px 2px #5b9a8b,
    0px 0px 1px 2px #5b9a8b;
}
div.send-message div.form form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ea1179;
  color: #fff;
  padding: 10px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
}
div.send-message div.form form button i {
  font-size: 16px;
  margin-left: 20px;
}
div.send-message div.contact-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.send-message div.contact-side h1 {
  font-size: 32px;
  color: #ea1179;
  margin-bottom: 20px;
}
div.send-message div.contact-side div.details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
div.contact-side div.details div.phone{
  color: #ea117abe;
}
div.contact-side div.details div.phone a{
  color: #ea117abe;
  text-decoration: none;
}
div.contact-side div.details div.email a{
  color: #ea117abe;
  text-decoration: none;
}
div.contact-side div.details div.email a:hover{
  color: #ea1179;
}
div.contact-side div.details div.phone a:hover{
  color: #ea1179;
}
div.contact-side div.details div.address{
  color: #ea117abe;
}
@media (max-width: 740px) {
  div.send-message {
    margin: 20px 0%;
    display: block;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    border-radius: 10px;
  }
  div.send-message div.form h1 {
    font-size: 24px;
  }
  div.send-message div.form form {
    width: 100%;
    padding: 1rem;    
    border-radius: 10px;
    /* background-color: #eee; */
  }
  div.send-message div.contact-side {
    padding: 5%;
  }
}
