div.send-message{
  margin: 20px 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* min-height: 100vh; */
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 10px 2px rgba(0,0,0,.1);
  border-radius: 10px;
}

div.send-message div.form{
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.send-message div.form form{
  width: 80%;
  margin-top: 20px;
}
div.send-message div.form form div.form-group{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
form div.form-group label{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: gray;
  margin-bottom: 5px;
}
form div.form-group input,
form div.form-group textarea{
  width: 100%;
  display: block;
  outline: none;
  padding:10px 15px;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #5B9A8B;
  border: none;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,.1);
  border-radius: 3px;
  transition: box-shadow 200ms ease-in, background 200ms ease-in;
}
form div.form-group input::placeholder{
  font-size: 14px;
  color: rgba(0,0,0,.5);
}
form div.form-group input:focus,
form div.form-group textarea:focus{
  box-shadow:0px 0px 1px 1px #5B9A8B,
             0px 0px 1px 2px #5B9A8B,
             0px 0px 1px 1px #5B9A8B;
  background-color: #7a3fdf24;
}
form div.form-group input:focus::placeholder,
form div.form-group textarea:focus::placeholder{
  color: #5b9a8bcd;
}
div.send-message div.form form button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #793FDF;
  color: #fff;
  padding: 10px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
}
div.send-message div.form form button i{
  font-size: 16px;
  margin-left: 20px;
}
div.send-message div.aside{
  background-image: url('../images/message-aside2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}