div.navbar {
  display: flex;
  flex-direction: column;
}

div.navbar .join-quickly {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  background-color: #ea1179;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
.join-quickly a {
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  margin-left: 10px;
  background-color: #793fdf;
  padding: 2px;
}

div.navbar nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
}
nav .logo a {
  text-decoration: none;
  font-weight: 800;
  color: #313866;
  font-size: 22px;
  width: 200px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: center;
}
/* nav ul li{
  margin:;
} */
nav ul li a {
  font-family: sans-serif;
  text-decoration: none;
  color: gray;
  font-weight: 400;
  font-size: 14px;
}
nav ul li a:hover {
  color: #793fdf;
}
nav .admission {
  display: block;
  width: 120px;
  text-decoration: none;
  text-align: center;
  background-color: #793fdf;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  margin-left: auto;
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
div.hamburger-menu {
  display: none;
}
@media (max-width: 996px) {
  div.navbar nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    padding: 10px 2%;
  }
}

@media (max-width: 780px) {
  div.navbar nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 2%;    
  }
  nav ul.nav-list {
    display: none;
  }
  nav .admission {
    display: none;
    width: 100px;
    padding: 7px;
    font-size: 12px;
    font-weight: 400;
  }
  div.hamburger-menu{
    display: flex;
    justify-content: flex-end;    
  }
  div.hamburger-menu div.icons{
    display: flex;
    align-items: center;
  }
  div.hamburger-menu img.open{
   cursor: pointer;      
  }
  div.hamburger-menu img.close{
   cursor: pointer; 
  }
}

/* Mobile Menu */
div.mobile-menu{
  display: none;
}

@media (max-width: 780px){
  div.mobile-menu{
    display: block;    
    max-height: 0;
    overflow: hidden;
    transition: 200ms ease-in-out;
  }
 div.mobile-menu.toggle-menu{
    max-height: 300px;    
    transition: 200ms ease-in-out;
  }
  div.mobile-menu .mobile-admission{
    text-decoration: none;
    background-color: #793fdf;
    color: #fff;
    padding: 8px 20px;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
  div.mobile-menu nav{
    padding: 5%;
    background-color: #7a3fdf2a;  
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);    
  }
  div.mobile-menu nav ul{
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    gap: 20px;
  }
  div.mobile-menu nav ul a{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
  }
}