div.navbar{
  display: flex;
  flex-direction: column;
}

div.navbar .join-quickly{
  width: 100%;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  background-color: #EA1179;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
.join-quickly a{
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  margin-left: 10px;
  background-color: #793FDF;
  padding: 2px;
}

div.navbar nav{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  padding: 10px 10%;
}
nav .logo a{
  text-decoration: none;
  font-weight: 800;
  color: #313866;
  font-size: 22px;
}
nav ul{
  display: flex;
  list-style: none;
  gap: 30px;
}
/* nav ul li{
  margin:;
} */
nav ul li a{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: gray;
  font-weight: 600;
  font-size: 14px;
}
nav ul li a:hover{
  color: #333;
}
nav .admission{
  display: block;
  width: 120px;
  text-decoration: none;
  text-align: center;
  background-color: #793FDF;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  margin-left: auto;
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, .1);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
div.hamburger-menu{
  display: none;
}
@media (max-width:780px){
  div.navbar nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 2%;
  }
  nav ul{
    display: none;
  }
  nav .admission{
    display: none;
    width: 100px;
    padding: 7px;
    font-size: 12px;
    font-weight: 400;
  }
  div.hamburger-menu{
    width: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 5px;
    cursor: pointer;
  }
  div.hamburger-menu span{
    display: block;
    width: 100%;
    height: 4px;
    background-color: #333333bf;
    border-radius: 5px;
  }
}