div.tutoring-service{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10%;
  background-color: #fff;
  min-height: 100vh;
}
div.tutoring-service div.headings{
  text-align: center;
}
div.tutoring-service div.headings h3{
  text-transform: uppercase;
  color: #BB2525;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
}
div.tutoring-service div.headings h1{
  font-family: 'Poppins', sans-serif;
  max-width: 500px;
  line-height: 1.5;
  margin-top: 10px;
  font-size: 38px;
  color: rgb(91, 90, 90);
}
div.tutoring-service .services{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}
div.tutoring-service .services div.service{
  padding: 20px;
}
.services div.service{
  background-color: #fff;
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,.1);
  border-radius:10px;
}
.services div.service h1{
  width: 50px;
  height: 50px;
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}
.services div.service:nth-child(1) h1{
  background-color: #FF6969;
  box-shadow: 0px 5px 10px #FF6969;
}
.services div.service:nth-child(2) h1{
  background-color: #A8DF8E;
  box-shadow: 0px 5px 10px #A8DF8E;
}
.services div.service:nth-child(3) h1{
  background-color: #FFC436;
  box-shadow: 0px 5px 10px #FFC436;
}
.services div.service:nth-child(4) h1{
  background-color: #A8DF8E;
  box-shadow: 0px 5px 10px #A8DF8E;
}

.services div.service h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: 10px 0;
  color: rgb(54, 54, 54);
}
.services div.service p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height:1.6
}
.services div.service a{
  display: block;
  width: 100px;
  margin-top: 20px;
  color: #793FDF;
  text-decoration: none;
}
.services div.service a:hover{
  font-weight: 700;
}

@media (max-width:740px){
  div.tutoring-service .services{
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
  }
  div.tutoring-service div.headings h1{
    font-size: 28px;
  }
  div.tutoring-service{
    padding: 20px 5%;
  }
  .services div.service{
    margin-bottom: 10px;
  }
}
@media (max-width:440px){
  div.tutoring-service .services{
    display: block;
  }
}